*{background-color: lightgray;}
#main-title{background-color:mistyrose;color: darkred;}

.nav-link{color: forestgreen;background-color:  lightyellow; }
.color-box>p{background-color:lemonchiffon;background-color: ivory;color:  saddlebrown; color:goldenrod}
.intro-paragraph p{background-color: lightcyan; color: teal;}
